*{
    margin: 0;
    padding: 0;
}
#main_login{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(Imagem\ de\ Fundo.jpg);
    background-size: cover;
}
#box_login{
    height: 75vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#box_login img{
    width: 30vw;
}
#box_login h2{
    text-align: center;
    font-size: 40px;
    color:#192559;
    font-family:monospace;
    margin: 15px 0;
}
#box_login input{
    width: 83%;
    line-height: 1.5em;
    font-size: 1.5em;
    border: none;
    margin-left: 10px;
    margin-top: 2px;
}
#box_login input:focus{
    outline: none !important;
}
#box_login form{
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: flex-end;
}
#box_login button{
    background-color: #192559;
    height: 40px;
    width: 40%;
    font-size: 30px;
    color: white;
}
#box_login p{
    color: #192559;
    font-size: 20px;
    margin-top: 10px;
    font-family: monospace;
}
.usuario{
    background-color:white;
    height: 40px;
    margin: 10px auto;
    width: 100%;
}
.usuario i{
    margin-left: 15px;
    color: #192559;
}
#topo{
    background-color: #192559;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}#topo div{
    height: 100%;
    color: white;
    min-width: 50px;
    display: flex;
    align-items: center;
}
#menu{
    font-size: 80px;
    width: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu:hover{
    background-color: green;
}
#sair{
font-size: 50px;
font-family: monospace;
display: flex;
justify-content: center;
align-items: center;
width: 3.5em;
}
#sair:hover{
    background-color: green;
}
#sair a{
    text-decoration: none;
    color: white;
    font-size: 70%;
}